In this exercise, we will explore the world of relational databases and hone our SQL skills by working with the Northwind database. The Northwind database is a sample database that simulates a small e-commerce system, containing tables with data on products, customers, orders, and more.

Objectives:

Our primary objectives in this exercise are as follows:

Creation of the Northwind Database: We will begin by creating the Northwind database, which is essential for the rest of the exercise. You'll learn how to set up a database and populate it with the necessary tables.

Building SQL Queries: After establishing the database, we'll delve into the heart of SQL â€“ constructing queries. You'll learn how to retrieve and manipulate data efficiently. This exercise will help you sharpen your SQL querying skills and gain a deeper understanding of database management.

By the end of this exercise, you'll have a practical understanding of working with SQL and a real-world database, preparing you for a wide range of data-related tasks and scenarios.

1) Create a Database using the attached Northwind.sql script.

2) Create the following queries:
a. Show all suppliers.

In [ ]:
SELECT *
FROM Suppliers

b. Show all categories.

In [ ]:
SELECT *
FROM Categories

c. Show the most expensive product per category, ordered by price.

In [ ]:
SELECT c.CategoryName AS Category, p.ProductName AS Product, p.UnitPrice AS Price 
FROM Products p 
INNER JOIN Categories c ON p.CategoryID = c.CategoryID
WHERE p.UnitPrice = (SELECT MAX(p.UnitPrice) FROM Products p WHERE p.CategoryID = c.CategoryID)
ORDER BY p.UnitPrice DESC

SELECT t.CategoryID, t.CategoryName, t.ProductID, t.ProductName, t.UnitPrice  
FROM (
    SELECT c.CategoryID, c.CategoryName, p.ProductID, p.ProductName, p.UnitPrice,
           ROW_NUMBER() OVER(PARTITION BY CategoryName ORDER BY p.UnitPrice DESC) AS i
    FROM Products p
    INNER JOIN Categories c
    ON p.CategoryID = c.CategoryID
) t
WHERE t.i = 1;

d. Show the category name, product name, and the total price of the 5 products with the highest discounts.

In [ ]:
SELECT TOP(5) c.CategoryName, p.ProductName, SUM(p.UnitPrice)
FROM Categories c
INNER JOIN Products p ON c.CategoryID = p.CategoryID
INNER JOIN [Order Details] od ON p.ProductID = od.ProductID
GROUP BY c.CategoryName, p.ProductName, p.UnitPrice, od.Discount
ORDER BY od.Discount DESC

e. Show the first and last names of employees, the names of the territories, and the regions assigned to each of them.

In [ ]:
SELECT DISTINCT e.FirstName, e.LastName, t.TerritoryDescription, r.RegionDescription
FROM Employees e
INNER JOIN EmployeeTerritories te ON e.EmployeeID = te.EmployeeID
INNER JOIN Territories t ON te.TerritoryID = t.TerritoryID
INNER JOIN Region r ON t.RegionID = r.RegionID

f. Display the turnover by city.

In [ ]:
SELECT SUM(od.UnitPrice * od.Quantity) AS Turnover, o.ShipCity AS City
FROM [Order Details] od
INNER JOIN Orders o ON od.OrderID = o.OrderID
GROUP BY o.ShipCity

SELECT t.TerritoryDescription, ROUND(SUM(od.UnitPrice * od.Quantity * (1 - Discount), 2) total
FROM Territories t
INNER JOIN EmployeeTerritories et
ON et.TerritoryID = t.TerritoryID
INNER JOIN Employees e
ON e.EmployeeID = et.EmployeeID
INNER JOIN Orders o
ON e.EmployeeID = o.EmployeeID
INNER JOIN [Order Details] od
ON o.OrderID = od.OrderID
GROUP BY t.TerritoryDescription;

g. Show the customers who haven't made any purchases.

In [ ]:
SELECT c.CompanyName
FROM Customers c
WHERE c.CustomerID NOT IN (SELECT o.CustomerID FROM Orders o)

h. Display how many orders each carrier has transported.

In [ ]:
SELECT s.CompanyName, COUNT(o.OrderID) AS TotalOrders
FROM Orders o
INNER JOIN Shippers s ON o.ShipVia = s.ShipperID
GROUP BY s.CompanyName

i. Show the first and last names of employees and the first and last names of their respective supervisors.

In [ ]:
SELECT r.FirstName AS EmployeeFirstName, r.LastName AS EmployeeLastName, e.FirstName AS SupervisorFirstName, e.LastName AS SupervisorLastName
FROM Employees AS e
RIGHT JOIN Employees AS r ON e.EmployeeID = r.ReportsTo

j. Categories sold by regions of employees.

In [ ]:
SELECT DISTINCT e.Region, c.CategoryName
FROM Categories c
INNER JOIN Products p ON c.CategoryID = p.CategoryID
INNER JOIN [Order Details] od ON p.ProductID = od.ProductID
INNER JOIN Orders o ON od.OrderID = o.OrderID
INNER JOIN Employees e ON o.EmployeeID = e.EmployeeID
ORDER BY e.Region

k. Categories sold in the month of April 1997.

In [ ]:
SELECT c.CategoryName, o.OrderDate
FROM Categories c
INNER JOIN Products p ON c.CategoryID = p.CategoryID
INNER JOIN [Order Details] od ON p.ProductID = od.ProductID
INNER JOIN Orders o ON od.OrderID = o.OrderID
WHERE MONTH(o.OrderDate) = 4 AND YEAR(o.OrderDate) = 1997

l. Orders that were shipped after the sixth day from the order date.

In [ ]:
SELECT OrderID 
FROM Orders
WHERE DATEDIFF(DAY, OrderDate, ShippedDate) > 6