Create the database "orders"

In [ ]:
create database orders;

Create the following tables, making sure to define the data types according to what you consider most suitable for the possible values of the fields in the tables below, as well as the relationships with their respective foreign keys.

Insert three records of your choice into each table.

In [ ]:
create table client(
codclient int identity(1,1),
name varchar(50),
address varchar(50),
phone varchar(9),
constraint pk_codclient primary key (codclient)
);

insert into cliente(name,address,phone) values 
('ana','rua das flores',918907089),
('joana', 'av. liberdade', 936758484),
('rui', 'travessa santos',924564747)
select * from client;

create table orders(
codorder int identity(1,1),
codclient int,
date date,
constraint pk_orders Primary Key (codorder),
Foreign Key (codclient) References client(codclient)
);

insert into orders(codclient,date) values
(1,CONVERT(datetime,'15/02/2022 20:00:00',103)),
(2,CONVERT(datetime,'15/02/2022 21:00:00',103)),
(3,CONVERT(datetime,'15/02/2022 22:00:00',103))
select * from orders;

create table products(
codproduct int identity(1,1),
description varchar(100),
price float,
obs varchar(50),
constraint pk_codproducts primary key (codproduct)
);

create table order_item(
codorder int,
codproduct int,
date date,
qt int,
constraint PK_order_item Primary Key (codorder,codproduct),
Foreign Key (codorder) References orders(codorder),
Foreign Key (codproduct) References products(codproduct)
);

insert into order_item(codorder,codproduct,date,qt) values
(1,1,CONVERT(datetime,'15/02/2022 20:00:00',103),2),
(2,1,CONVERT(datetime,'15/02/2022 20:00:00',103),20),
(3,2,CONVERT(datetime,'15/02/2022 20:00:00',103),1)
select * from order_item;

Create the following SQL queries for the database "Orders"

a. Show customers from the Customers table whose address is "Solar do Monte," or any other address of your choice, sorted by name.

In [ ]:
select c.name, c.address
from client c
where c.address='rua das flores'
order by c.name

b. Show the product from the Products table whose description is "hammer," or any other product description of your choice, sorted by price.

In [ ]:
select price, description
from product
where description like 'martelo'
order by price

c. Display all the order dates for orders placed by the customer "Fonseca," or any other customer name of your choice.

In [ ]:
select o.date as Date_Orders
from orders o
where o.codclient=2

d. Show how many products the customer "Silva," or any other customer of your choice, has ordered, grouped by the product description.

In [ ]:
select count(p.codproduct) as quantity_products, p.description
from order_item i
inner join orders o on i.codorder=o.orders
inner join products p on i.codproduct=p.codproduct
where o.codclient=3
group by p.description

e. Show the total amount paid for each order.

In [ ]:
select o.orders as Order, sum(i.qt*p.price) as total
from order_item i
inner join product p
on o.codproduct=p.codproduct
group by i.codorder